@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--tg-theme-bg-color, white);
  height: 100%;
  -webkit-overflow-scrolling: auto !important;
}

iframe {
  overscroll-behavior: none; /* Disable overscroll in the iframe container */
}

/* Resetting telegram ui components specific styles */

/* Input: remove padding, remove bg */
.tgui-8ca550c2fc85eff5 {
  padding: 0 !important;
  background: transparent !important;
}

.tgui-9f9a52f695b85cc9 {
  background: var(--tg-theme-secondary-bg-color) !important;
  top: -14px !important;
}

.tgui-d9de1f32aee12a15 {
  gap: 18px !important;
}

/* Make small button full rounded */
.tgui-13f23a224303ddaa {
  border-radius: 50% !important;
  padding: 8px !important;
  height: 52px !important;
  width: 52px !important;
}

/* Make plain button text color primary */
.tgui-48956537c34690db {
  color: var(--tg-theme-text-color) !important;
  display: block !important;
  height: 100% !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
}
